@font-face {
    font-family: Sans-Bold;
    src: url("../../fonts/Product Sans Bold.ttf");
  }
  
  @font-face {
    font-family: Sans-Regular;
    src: url("../../fonts/Product Sans Regular.ttf");
  }

.main {
    padding: 15px;
    color: #f2e1b2;
}

.blog-title {
    color: #f2e1b2;
    font-family: "Sans-Bold";
}

.blog-body {
    color: #f2e1b2;
    font-size: 20px;
    font-family: "Sans-Regular";
}

.post {
    font-family: "Sans-Bold";
}

.home-button {
    background-color: #9c2c34;
    border: 1px solid #f2e1b2;
    border-radius: 5px;
    color: #f2e1b2;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .home-button:hover {
    background-color: #f2e1b2;
    color: #9c2c34;
  }