:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;

  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* html, body {
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
  font-family: 'Montserrat', sans-serif;
}  */

@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets//font.ttf') format('truetype');
}

h1 {
  font-weight: bold;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
  color: #5b63b7;
}

a:hover {
  padding: 2px 6px;
  border-radius: 8px;
  background-color: #5b63b7;
  color: white;
}

p {
  font-weight: normal;
  font-size: 1rem;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.big-heading {
  font-size: 100px;
  margin: 0;
}

.mid-heading {
  font-size: 80px;
  color: #5b63b7;
  margin: 0;
  position: relative;
  font-weight: 600;
}

.mid-heading:hover {
  color: yellow;
}

.home-text-center {
  font-size: 1.2rem;
  text-align: center;
  word-break: break-word;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.system-null-ref {
  color: #b5454b;
  transition: all 0.3s ease;
}

.system-null-ref:hover {
  padding: 2px 6px;
  border-radius: 8px;
  background-color: #b5454b;
  color: white;
}

.header-row {
  display: flex;
  gap: 15px;
  padding: 8px;
  background-color: #2c2f49;
  border-radius: 30px;
  position: fixed;
  z-index: 999;
}

.header-box {
  padding: 10px 15px;
  border-radius: 8px;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  color: white;
}

.header-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 6%;
  padding-top: 5%;
  color: white;
}

.header-box.active {
  background-color: #8084ad;
  border-radius: 20px;
  padding: 10px 20px;
}

.header-box:hover:not(.active) {
  background: none !important;
  padding: 10px 15px;
}

.error-box {
  background-color: #a04268;
  padding: 10px;
  border-radius: 8px;
}

.error-box-contents {
  font-size: 1.2rem;
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.card-container {
  display: flex;
  gap: 5%;
  padding: 4%;
  border-radius: 30px;
  position: relative;
  justify-content: center;
  align-items: flex-start;
}

.card-box-1,
.card-box-2 {
  background-color: #254d4c;
  color: white;
  padding: 20px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.card-box-2 {
  background-color: #5b4135;
}

.card-heading-left {
  text-align: right;
  margin-bottom: 10px;
}

.card-image {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  padding: 10px;
}

.card-main-heading {
  font-size: 1.2rem;
  font-weight: 600;
}

.footer-container {
  display: flex;
  gap: 5%;
  padding: 4%;
  border-radius: 30px;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-contact-text {
  display: block;
  padding: 10px 0px;
  background: none !important;
  color: white;
  text-decoration: none;
}

.footer-contact-text:hover {
  color: #5b63b7;
  padding: 10px 0px;
  background: none !important;
}

.about-layout-row {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

}

.about-body {
  padding: 4%;
  font-size: 1.2rem;
  font-weight: 700;
}

.about-images {
  max-width: 100%;
  height: auto;
  padding: 4%;
}

.about-box {
  background-color: #254d4c;
  padding: 10px;
  border-radius: 25px;
}